<fieldset id="task_project_selection">
  <label for="task_name" style="text-align: left">Name</label><%= text_area "task", "name", { :rows => 3, :cols=> nil}.merge( perms['edit'] ) %>
  <label for="task_description" style="text-align: left">Description</label><%= text_area "task", "description", { :rows => 4, :cols=> nil, :class => "autogrow" }.merge( perms['edit'] ) %>

  <label for="task_project_id"><%=_ 'Project' %></label>
  <select name="task[project_id]" id="task_project_id" <%= "disabled=\"disabled\"" unless perms['reassign'].empty? %>>
    <%= options_for_user_projects(@task) %>
  </select>
  <br/>
  <div>
    <label for="task_milestone_id"><%=_ 'Iteration' %></label>
    <%= milestone_select(perms) %>
    <% if current_user.can?( Project.find(selected_project), 'milestone' ) %>
      <span id="add_milestone"><img src="/images/add.png" style="margin:0;padding:2px 0 0 0;cursor:pointer"/></span>
    <% end %>
    <script type="text/javascript" language="javascript" charset="utf-8">
        appendPopup("/milestones/quick_new?project_id=" + jQuery("#task_project_id").val(), "body", false);
    </script>
  </div>
  <br/>

  <label for="task_status"><%= _("Resolution") %></label>
  <%= status_field(@task).html_safe %>
</fieldset>
