<fieldset id="task_project_selection">
   <legend><%=_ "Estimation:"%></legend>
  <% if current_user.option_tracktime.to_i == 1 %>
    <label for="task_duration"><%=_ 'Time Estimate' %></label>
    <%= text_field 'task', 'duration', {:size => 12, :value => (@task.duration.to_i > 0 ? worked_nice(@task.duration) : ""), :class => 'tooltip', :title => _('2w 3d 1h')} %><br/>
  <% else %>
    <%= hidden_field_tag "task[duration]", "#{(@task.duration.to_i > 0 ? worked_nice(@task.duration) : "")}" %>
  <% end %>

  <label for="task[due_at]"><%=_ 'Due Date' %></label>
  <%= due_date_field(@task, perms) %>
</fieldset>
