<table class="content" id="finance_table" width="100%" style="margin-left:0;margin-right:0;">
  <tr>
    <th><%=_ 'Iterations' %></th>
    <th><%=_ 'Estimate Cost' %></th>
    <th><%=_ "Real Cost" %></th>
    <th><%=_ 'Balance' %></th>
    <th><%=_ "Benefist" %></th>
    <th><%=_ 'B/CR' %></th>
    <th><%=_ 'NPV' %></th>
    <th><%=_ 'EV' %></th>
    <th><%=_ 'CPI' %></th>
    <th><%=_ 'SPI' %></th>
    <th><%=_ 'ROI' %></th>
  </tr>

  <% count = 1  %>
  <% @project.milestones.each do |iteration| %>
    <% if count % 2 == 0 %>
      <tr id="s" class="row_stripe" style="text-align: right"/>
      <% else %>
      <tr id="s2" style="text-align: right">
      <% end %>
      <td style="text-align: center">
        <%= 'Iteration ' + count.to_s %>
      </td>
      <td>
        <%= iteration.get_estimate_cost %>
      </td>
      <td>
        <%= iteration.get_real_cost %>
      </td>
      <td>
        <%= iteration.get_balance_presentation + " %" %>
      </td>
      <td>
        <%= iteration.get_benefist %>
      </td>
      <td>
        <%= iteration.get_ratio_cost_benefist.to_s + ":1" %>
      </td>
      <td>
        <%= iteration.get_npv%>
      </td>
      <td>
        <%= iteration.get_earned_value %>
      </td>
      <td>
        <%= iteration.get_cpi %>
      </td>
      <td>
        <%= iteration.get_spi %>
      </td>
      <td>
        <%= iteration.get_roi.to_s + " %" %>
      </td>
    </tr>
    <%count = count + 1%>
  <% end %>
  <tr style="text-align: right" class="row_total">
    <td style="text-align: center">
      <%= 'Total' %>
    </td>
    <td>
      <%= @project.get_estimate_cost %>
    </td>
    <td>
      <%= @project.get_real_cost %>
    </td>
    <td>
      <%= @project.get_balance_presentation + ' %' %>
    </td>
    <td>
      <%= @project.get_benefist %>
    </td>
    <td>
      <%= @project.get_cost_benefis_ratio.to_s + ':1' %>
    </td>
    <td>
      <%= @project.get_npv %>
    </td>
    <td>
      <%= @project.get_earned_value %>
    </td>
    <td>
      <%= @project.get_cpi %>
    </td>
    <td>
      <%= @project.get_spi %>
    </td>
    <td>
      <%= @project.get_roi.to_s + ' %' %>
    </td>
  </tr>
</table>