  <table class="content" id="user_table" width="100%" style="margin-left:0;margin-right:0;">
    <tr>
      <th><%=_ 'Iterations' %></th>
      <th><%=_ 'Estimate Cost' %></th>
      <th><%=_ "Real Cost" %></th>
      <th><%=_ "Benefist" %></th>
      <th><%=_ 'Earned Value' %></th>
      <th><%=_ 'B/CR' %></th>
      <th><%=_ 'Balance' %></th>
      <th><%=_ 'ROI' %></th>
      <th><%=_ 'NPV' %></th>
    </tr>

     <% count = 1  %>
    <% @project.milestones.each do |iteration| %>
    <tr id="add_user" style="text-align: right">
      <td style="text-align: center">
        <%= 'Iteration ' + count.to_s %>
      </td>
      <td>
        <%= iteration.get_estimate_cost %>
      </td>
      <td>
        <%= iteration.get_real_cost %>
      </td>
      <td>
        <%= iteration.get_benefist %>
      </td>
      <td>
        <%= iteration.get_earned_value %>
      </td>
      <td>
        <%= iteration.get_ratio_cost_benefist.to_s + ":1" %>
      </td>
      <td>
        <%= iteration.get_balance_presentation + " %" %>
      </td>
      <td>
        <%= iteration.get_roi.to_s + " %" %>
      </td>
      <td>
        <%= iteration.get_npv%>
      </td>
    </tr>
    <%count = count + 1%>
    <% end %>
    <tr style="text-align: right">
      <td style="text-align: center">
        <%= 'Total' %>
      </td>
      <td>
        <%= @project.get_estimate_cost %>
      </td>
      <td>
        <%= @project.get_real_cost %>
      </td>
      <td>
        <%= @project.get_benefist %>
      </td>
      <td>
        <%= @project.get_earned_value %>
      </td>
      <td>
        <%= @project.get_cost_benefis_ratio.to_s + ':1' %>
      </td>
      <td>
        <%= @project.get_balance_presentation + ' %' %>
      </td>
      <td>
        <%= @project.get_roi.to_s + ' %' %>
      </td>
      <td>
        <%= @project.get_npv %>
      </td>
    </tr>
</table>