<h1>New estimation_setting</h1>

<% form_for(@estimation_setting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :velocity %><br />
    <%= f.text_field :velocity %>
  </p>
  <p>
    <%= f.label :expert_judgment %><br />
    <%= f.text_field :expert_judgment %>
  </p>
  <p>
    <%= f.label :planning_poker %><br />
    <%= f.text_field :planning_poker %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', estimation_settings_path %>