<table class="content" width="100%">
<td class="page_header">
  <div style="float:left; width: 100%"><%=_ 'Mis partidas en curso' %></div>
</td>
</table>
<table class="content" id="historial_table" width="800" style="margin-left:0;margin-right:0;text-align:center">
  <tr>
    <th><%=_ 'Partida numero' %></th>
    <th><%=_ 'Historia de Usuario' %></th>
    <th><%=_ 'Finaliza' %></th>
    <th><%=_ 'Mi voto' %></th>
    <th><%=_ 'Juagores en linea' %></th>
    <th><%=_ 'Acciones' %></th>
  </tr>
  <% @games_historial.each do |g| %>
    <td>
      <%= g.id %>
    </td>
    <td>
      <%= Task.find(g.task_id).name %>
    </td>
    <td>
      <%= g.due_at.strftime('%Y-%m-%d a las %H:%M:%S') %>
    </td>
    <td>
      <%= vote_for_user_in_game(g)%>
    </td>
    <td>
      <%= players_numbers_for_game(g)%>
    </td>
    <td>
      <a href="/planning_poker/table?id=<%=g.id%>"><img src="/images/time_go.png" alt="" title="Ir al juego"/></a>
    </td>
  <% end %>
</table>