<table class="content" width="100%">
  <tr><td class="page_header" colspan="2">Planning Poker for: HU NAME <a href="/planning_poker/exit_game?id=<%= @game.id %> ">salir</a></td></tr>
  <tr>
    <td>
      <div id="planning-poker-votes">
      <% @votes.each do |planning_poker_vote| %>
        <div class="planning-poker-card-wrapper">
          <div class="planning-poker-card">
            <% if planning_poker_vote.user_id == current_user.id %>
              <div class="inner front">
                <% if planning_poker_vote.vote.to_i == 1000 %>
                  <%= '?' %>
                <% else %>
                  <%= planning_poker_vote.vote.to_i %>
                <% end %>
              </div>
            <% else %>
              <div class="inner back">
                <img src="/images/card.png" alt=""/>
              </div>
              <input class="voted-value" type="hidden" value="<%= planning_poker_vote.vote.to_i %>"/>
            <% end %>
          </div>
          <center><b>
              <%=get_user_name(planning_poker_vote.user_id)%>
            </b></center>
        </div>
      <%end%>
      </div>
    </td>
    <td rowspan="4" style="width: 200px" valign="top">
      <div style="max-height: 450px; overflow: auto">
        <ul id="selected-users" style="list-style-type: none; margin: 0; padding: 0">
          <% @player_list.each do |us| %>
            <li class="ui-state-default" style="padding: 5px; margin: 5px">
              <%= avatar_for us, 25 %>
              <%= us.name %>
              <span id="user-<%= us.id %>" class="status"><img src='/images/offline.png' alt='offline' /></span>
            </li>
          <%end%>
        </ul>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <% if @vote.vote.nil? %>
      <div id="select-vote">
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(0);">0</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(0.5);">&frac12;</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(1);">1</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(2);">2</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(3);"">3</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(5);">5</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(8);">8</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(13);">13</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(20);">20</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(40);">40</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(100);">100</div></div></a></div>
        <div class="planning-poker-card-wrapper"><a href="#"><div class="planning-poker-card"><div class="inner front" onclick="sendVote(1000);">?</div></div></a></div>
      </div>
      <% end %>
    </td>
  </tr>
  <tr><td><div id="planning-poker-results"></div></td></tr>
  <tr>
    <td>
      <div id="chat-messages" style="height: 150px; border: 1px solid #ccc; overflow: auto">
      </div>
      <script type="text/javascript" charset="utf-8">
        var chatElement = document.getElementById("chat-messages");
        chatElement.innerHTML = "";
        var chat = function(data){
          var messages = chatElement.innerHTML;
          chatElement.innerHTML = messages + ("<div class='message'>" + data + "</div>\n");
          chatElement.scrollTop = chatElement.scrollHeight;
        }

        var status = function(data){
          var dataArray = data.split('-');
          statusElement = document.getElementById("user-" + dataArray[0]);
          if (dataArray[1] == 0){
            statusElement.innerHTML = "<img src='/images/offline.png' alt='offline' />";
          }
          else if (dataArray[1] == 1){
            statusElement.innerHTML = "<img src='/images/online.png' alt='online' />";
          }
        }

        var showVote = function (data) {
          var dataArray = data.split('-');
          var showVoteElement = document.getElementById("planning-poker-votes");
          var innerHtml = showVoteElement.innerHTML;
          var newVote = "<div class='planning-poker-card-wrapper'><div class='planning-poker-card'>";
          if (dataArray[0] == "<%=current_user.id%>"){
            newVote += "<div class='inner front'>"
            if (dataArray[1] == 1000){
              newVote += '?';
            } else {
              newVote += dataArray[1];
            }
            newVote += "</div>";
          } else {
            newVote += "<div class='inner back'><img src='/images/card.png' alt=''/></div>";
            newVote += '<input class="voted-value" type="hidden" value="';
            if (dataArray[1] == 1000){
              newVote += '?';
            } else {
              newVote += dataArray[1];
            }
            newVote += '"/>';
          }
          newVote += "</div>";
          newVote += "<center><b>";
          newVote += dataArray[2];
          newVote += "</b></center>";
          newVote += "</div>";
          showVoteElement.innerHTML = newVote + innerHtml;
        }

        jug.subscribe("chat-<%= @game.id %>", function(data){
          chat(data);
        });
        jug.subscribe("list-<%= @game.id %>", function(data){
          status(data);
        });
        jug.subscribe("vote-<%= @game.id %>", function(data){
          showVote(data);
        });
        jug.subscribe("repeat-<%= @game.id %>", function(data){
          alert('La partida se repetira!. Repartiendo cartas');
           refreshTable(data);
        })
        jug.subscribe("turn-<%= @game.id %>", function(data){
          alert ('La partida ha finalizado');
           turnCards(data);
        })

        jug.on("connect", function(){
          var url = "/planning_poker/send_message";
          var params = {channel: "chat-<%= @game.id %>", current_message: "'se ha conectado.'"}
          jQuery.get(url, params, function(data){
            chat(data);
          })
            
          var url = "/planning_poker/send_status";
<%  @actual_users.each do |user| %>
      var params = {channel: "list-<%= @game.id %>", current_message: "<%=user.id.to_s%>-1"}
      jQuery.get(url, params, function(data){
        status(data);
      })
<% end %>

  });
        
  jug.on("disconnect", function(){
    var url = "planning_poker/ajax_exit_game"
    var params = {game: <%= @game.id%>, user: <%= current_user.id.to_s %> }
    jQuery.get(url, params, function(data){
      status(data);
    });
  });
        
  jug.on("reconnect", function(){
    chat("Reconectando")
  });

  chat("Suscrito a chat-<%= @game.id %>");

  window.jug = jug;

  var sendVote = function(valorVoto){
    var url = "/planning_poker/vote";
    var data = {game_id: <%= @game.id%>, value_vote: valorVoto };
    jQuery.get(url, data, function(){
      jQuery("#select-vote").html("");
    });
    jQuery("#select-vote").html("<center><img src='/images/tuneup/spinner.gif' alt=''></center>");
  }

  function finishGame(){
    var url = "/planning_poker/resume_game";
    var data = {game_id:<%= @game.id%>};
    jQuery.get(url, data, 
      function(){
        jQuery("#finish-button").attr("disabled", "true");
      });
  }

  function refreshTable(data){
    if (data == 1)window.location = '/planning_poker/table?id=<%= @game.id%>'
  }

  function repeatGame(){
    var url = '/planning_poker/repeat_game';
    var data = {game_id:<%= @game.id%>};
    jQuery.get(url, data, function(){
      window.location = '/planning_poker/table?id=<%= @game.id%>';
    })
  }

  function turnCards(data){
    if (data == 1) {
      jQuery.each(jQuery('.back').parent('.planning-poker-card'), function(){
        jQuery(this).flip({
          direction: 'rl',
          content: '<div class="inner front">' + jQuery(this).children('.voted-value').val() + '</div>',
          onEnd: function(){
            jQuery('.front').parent('.planning-poker-card').attr('style', 'background-color: #fff');
          }
        });
      })
    }
  }
      </script>
    </td>
  </tr>
  <tr>
    <td>
      <% form_remote_tag(:url => {:action => 'send_message'}, :success => "document.getElementById('current_message').value = ''") do %>
        <table style="width: 100%">
          <tr>
            <td>
              <%= text_field_tag "current_message", '', :style => 'width: 100%' %>
            </td>
            <td style="width: 100px;">
              <input type="hidden" value="chat-<%= @game.id %>" name="channel"></input>
              <input type="submit" value="Enviar" name="commit" style="width: 100%"></input>
            </td>
          </tr>
        </table>
      <%end%>
    </td>
    <td>
      <%if user_is_leader_from_this_game?(@game)%>
          <input id="finish-button" class="nolabel" type="button" value="Finalizar" onclick="finishGame();"/>
      <%end%>
    </td>
  </tr>
</table>