<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag(
      :defaults,
      "jquery.tooltip",
      "jquery-ui",
      "jquery.layout",
      "ui.multiselect",
      "jqgrid.i18n/grid.locale-en",
      "jquery.jqGrid.min",
      "jquery.autogrow",
      "json2",
      "tasklist",
      "task",
      "filter",
      "template",
      :cache => "main"
    ) %>
    <%= javascript_include_tag "fullcalendar" %>
    <%= yield :head %>
    <%= javascript_include_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
    <% if controller.controller_name == "roadmap" %>
      <%= javascript_include_tag 'http://simile.mit.edu/timeline/api/timeline-api.js' -%>
      <%= javascript_include_tag 'prototype' -%>
    <% end %>
     <%= javascript_include_tag 'jquery.pnotify' %>
    <% if ['activities'].include? controller.controller_name %>
            <!--[if IE]><%= javascript_include_tag "excanvas" %><![endif]-->
      <%= javascript_include_tag "builder", "portal", "flotr" %>
    <% end %>

    <%= stylesheet_link_tag(
      "jquery-ui",
      "application",
      "jquery.tooltip",
      "ui.multiselect",
      "ui.jqgrid",
      "fullcalendar",
      :cache => true
    ) %>
    <%= stylesheet_link_tag "beast" if ['forums', 'posts', 'topics'].include? controller.controller_name %>
    <%= stylesheet_link_tag "print", { :media => "print" } %>
    <%= stylesheet_link_tag "jquery.pnotify.default" %>
    <%= auto_discovery_link_tag(:rss, {:controller => 'feeds', :action => 'rss', :id => current_user.uuid }) %>
    <% if (CONFIG[:server][:production].to_s != "0") %>
      <script src="<%=("http://"+CONFIG[:server][:production]+":8080/application.js")%>" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" charset="utf-8">
        var jug = new Juggernaut("<%=(CONFIG[:server][:production])%>");
      </script>
    <%end%>
    <title><%= $CONFIG[:productName] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%
    @internal = current_user.company.internal_customer
    if !@internal.nil? && !@internal.css.nil? && @internal.css.length > 0
    %>
      <style type="text/css">
  <%= @internal.css %>
      </style>
    <% end %>
    <script type="text/javascript">
      jQuery.jgrid.no_legacy_api = true;
      jQuery.jgrid.useJSON = true;
    </script>
    <% if controller.controller_name == "planning_poker" && controller.action_name == "table" %>
      <%= javascript_include_tag 'jquery.flip.min.js' -%>
      <script type="text/javascript">
        function desconectar_jug(){
          var url = "/planning_poker/ajax_exit_game";
          var params = {game: <%= @game.id.to_s%>, user: <%= current_user.id %> };
          jQuery.get(url, params, function(data){
            alert(data);
          });
        }
      </script>
    <% end %>
  </head>
  <body
  <% if controller.controller_name == "planning_poker" && controller.action_name == "table"%>
      onunload="desconectar_jug();"<% end %>>
    <div id="page_header">
      <div id="loading">
        <%= image_tag('spinner.gif', :border => 0) %>
      </div>
      <%= render(:partial => "layouts/menu") %>
      <%= render(:partial => "layouts/tabmenu") %>
      <%= render(:partial => "layouts/notice") %>
    </div>
    <table id="main-table">
      <tr>
        <td valign="top" id="main_col">
          <%= yield :layout %>
        </td>
      </tr>
    </table>

    <div id="contact">
      <% if current_user.locale != 'en_US' %> - <a href="/locales/list"><%= _'Help Translate' %></a>
      <% end %><%= link_to "[Admin]", :controller => "admin", :action => "index" if current_user.admin == 10 %>
    </div>

    <%= periodically_call_remote(:url => { :controller => 'tasks', :action => 'update_sheet_info', :format => "js" }, :frequency => 90 ) -%>
    <script type="text/javascript" language="javascript" charset="utf-8">
      // <![CDATA[
      var userId=<%= current_user.id %>;
      var useTooltips=<%= current_user.option_tooltips.to_i %>;
      var userDateFormat="<%= current_user.dateFormat %>";
      // ]]>
    </script>
  </body>
</html>
